.container-fluid{
  max-width: 1000px;
  margin: 100px auto;
}

body {
  background: rgb(212, 212, 212);
  color: rgb(49, 49, 49);
}

.myList {
  text-decoration: none;
  list-style-type: none;
  text-align: right;
  line-height: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
  color: rgb(49, 49, 49);
}
